p{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 35px
}
h1{
    font-size: 50px
}

body {
    background-color: #faf3e6;
    margin: 60px;
}

figcaption{
    text-align: center;
}

h2, h3, h4, h5, h6{
    text-align: center;
    font-size: 25px;
}

#emphasis{
    color: rgb(110, 23, 168);
}

header{
    text-align: center;
    font-family: fantasy;
    font-variant: small-caps;
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.resize{
    width: 350px;
    height: 600px;    
}

section{
    padding-bottom: 30px;
}