p{
    text-align: center;
    font: red serif;
    font-size: 35px
}

body {
    background-color: #faf3e6;
}

figure{
    margin-left: 250px
}

h2, h3, h4, h5, h6{
    text-align: center;
    font-size: 25px;
}

#emphasis{
    color: rgb(110, 23, 168);
}

#adjust{
    margin-left: 450px
}

header{
    text-align: center;
    font-family: fantasy;
    font-variant: small-caps
}